:{{ mempool_port_ssl }} {
    import tls
    root /var/www/mempool/browser
 
    handle /api/v1/* {
        reverse_proxy 127.0.0.1:{{ mempool_port_tcp }}
    }
 
    handle /api/* {
        uri replace /api/ /api/v1/
        reverse_proxy 127.0.0.1:{{ mempool_port_tcp }}
    }
 
    handle {
        map {header.accept-language} {header_lang} {
            default "en-US"
            ~^ar "ar"
            ~^cs "cs"
            ~^da "da"
            ~^de "de"
            ~^en "en-US"
            ~^es "es"
            ~^fa "fa"
            ~^fi "fi"
            ~^fr "fr"
            ~^he "he"
            ~^hi "hi"
            ~^hr "hr"
            ~^hu "hu"
            ~^it "it"
            ~^ja "ja"
            ~^ka "ka"
            ~^ko "ko"
            ~^lt "lt"
            ~^mk "mk"
            ~^nb "nb"
            ~^ne "ne"
            ~^nl "nl"
            ~^pl "pl"
            ~^pt "pt"
            ~^ro "ro"
            ~^ru "ru"
            ~^sl "sl"
            ~^sv "sv"
            ~^th "th"
            ~^tr "tr"
            ~^uk "uk"
            ~^vi "vi"
            ~^zh "zh"
        }
 
        map {cookie.lang} {lang} {
            default {header_lang}
            ar "ar"
            cs "cs"
            da "da"
            de "de"
            en "en-US"
            es "es"
            fa "fa"
            fi "fi"
            fr "fr"
            he "he"
            hi "hi"
            hr "hr"
            hu "hu"
            it "it"
            ja "ja"
            ka "ka"
            ko "ko"
            lt "lt"
            mk "mk"
            nb "nb"
            ne "ne"
            nl "nl"
            pl "pl"
            pt "pt"
            ro "ro"
            ru "ru"
            sl "sl"
            sv "sv"
            th "th"
            tr "tr"
            uk "uk"
            vi "vi"
            zh "zh"
        }
 
        header {
            Cache-Control "public, no-transform, max-age=1800"
            Vary "Accept-Language, Cookie"
        }
 
        @lang-override path_regexp ^/([a-z]{2})/
        handle @lang-override {
            try_files {path} /{re.lang-override.1}/index.html /en-US{path} /en-US/index.html
        }
 
        handle {
            try_files {path} /{lang}{path} /en-US{path} /{lang}/index.html /en-US/index.html
        }
 
        file_server
    }
}